In [2]:
# Importamos las librerías necesarias
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport
import re

In [6]:
# Carga de los archivos Parquet
df_game = pd.read_parquet("../ETL/games.parquet")
df_items = pd.read_parquet("../ETL/items.parquet")
df_reviews = pd.read_parquet("../ETL/reviews.parquet")

In [18]:
df_game

,app_name,release_date,tags,item_id
index,,,,
88310,Lost Summoner Kitty,2003-09-12,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",761140
88311,Ironbound,2003-09-12,"['Free to Play', 'Indie', 'RPG', 'Strategy'] [...",643980
88312,Real Pool 3D - Poolians,2003-09-12,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",670290
88313,弹炸人2222,2003-09-12,"['Action', 'Adventure', 'Casual'] ['Action', '...",767400
88314,Log Challenge,2003-09-12,"['[', ']'] ['Action', 'Casual', 'Indie', 'Spor...",773570
...,...,...,...,...
120439,Kebab it Up!,2003-09-12,"['Action', 'Adventure', 'Casual', 'Indie'] ['A...",745400
120440,Colony On Mars,2003-09-12,"['Casual', 'Indie', 'Simulation', 'Strategy'] ...",773640
120441,LOGistICAL: South Africa,2003-09-12,"['Casual', 'Indie', 'Strategy'] ['Casual', 'In...",733530
120442,Russian Roads,2003-09-12,"['Indie', 'Racing', 'Simulation'] ['Indie', 'R...",610660
120443,EXIT 2 - Directions,2003-09-12,"['Casual', 'Indie'] ['Atmospheric', 'Casual', ...",658870

In [17]:

df_reviews

                 user_id  item_id  recommend  sentiment_analysis
0      76561197970982479     1250       True              0.8481
1      76561197970982479    22200       True              0.2263
2      76561197970982479    43110       True              0.9117
3                js41637   251610       True              0.9566
4                js41637   227300       True              0.9708
...                  ...      ...        ...                 ...
58425  76561198312638244       70       True              0.5574
58426  76561198312638244   362890       True              0.9786
58427        LydiaMorley   273110       True              0.7827
58428        LydiaMorley      730       True              0.5106
58429        LydiaMorley      440       True              0.8349

[58430 rows x 4 columns]

In [16]:

df_items

                   user_id  item_id  playtime_forever
0        76561197970982479       10                 6
1        76561197970982479       20                 0
2        76561197970982479       30                 7
3        76561197970982479       40                 0
4        76561197970982479       50                 0
...                    ...      ...               ...
5094077  76561198329548331   346330                 0
5094078  76561198329548331   373330                 0
5094079  76561198329548331   388490                 3
5094080  76561198329548331   521570                 4
5094081  76561198329548331   519140                 3

[5094082 rows x 3 columns]

In [19]:
# Fusionar df_reviews y df_items en base a item_id y user_id
df_reviews_items = pd.merge(df_reviews, df_items, on=['user_id', 'item_id'])

In [20]:
# Fusionar el resultado anterior con df_game en base a item_id
df_complete = pd.merge(df_reviews_items, df_game, on='item_id')

In [28]:

# Paso 2: Función para dividir las cadenas en listas de Python
def split_tags(tag_str):
    # Eliminar los corchetes de inicio y final
    tag_str = tag_str.strip('[]')
    # Dividir la cadena en función de los corchetes internos
    tags = re.findall(r"'(.*?)'", tag_str)
    return tags

# Aplicar la función a la columna 'tags'
df_complete['tags'] = df_complete['tags'].apply(split_tags)

In [29]:
# Paso 3: Convertir las listas en una sola cadena de texto
df_complete['tags'] = df_complete['tags'].apply(lambda x: ' '.join(x))

In [33]:
# Verificar la limpieza
df_complete

In [34]:
df_complete

,user_id,item_id,recommend,sentiment_analysis,playtime_forever,app_name,release_date,tags
0,76561197970982479,1250,True,0.8481,10006,Killing Floor,2003-09-12,Action Action Adventure Class-Based Co-op Come...
1,76561197970982479,22200,True,0.2263,271,Zeno Clash,2003-09-12,Action Indie Action Adventure Atmospheric em u...
2,js41637,227300,True,0.9708,551,Euro Truck Simulator 2,2003-09-12,Indie Simulation Action Adventure Atmospheric ...
3,js41637,239030,True,0.7713,349,"Papers, Please",2003-09-12,Adventure Indie 2D Adventure Atmospheric Casua...
4,evcentric,248820,True,0.3658,2328,Risk of Rain,2003-09-12,Action Indie RPG 2D Action Co-op Difficult Gre...
...,...,...,...,...,...,...,...,...
38585,Ghoustik,730,True,0.0000,3969,Counter-Strike: Global Offensive,2003-09-12,Action Action Co-op Competitive Difficult FPS ...
38586,76561198312638244,233270,True,0.9720,533,Far Cry 3 - Blood Dragon,2003-09-12,Action Adventure 1980s Action Adventure Atmosp...
38587,76561198312638244,130,True,0.7089,221,Half-Life: Blue Shift,2003-09-12,"Action s"", , , , , , , , , , , , ,..."
38588,76561198312638244,70,True,0.5574,1010,Half-Life,2003-09-12,"Action s"", , , , , , , , , , , , ,..."
38589,76561198312638244,362890,True,0.9786,2184,Black Mesa,2003-09-12,Action Adventure Early Access Indie Action Adv...

In [ ]:
# Crear un informe de perfil
profile_g = ProfileReport(df_game, title="Pandas Profiling Report G")

profile_i = ProfileReport(df_items, title="Pandas Profiling Report I")

profile_r = ProfileReport(df_reviews, title="Pandas Profiling Report R")

In [ ]:
# Generar un informe HTML
profile_g.to_notebook_iframe()

In [ ]:
profile_i.to_notebook_iframe()

In [ ]:
profile_r.to_notebook_iframe()

In [35]:
df_complete.to_parquet("complete.parquet", index=False)